.navbar, .search-bar, .has-search input {
    background-color: #000000;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #000000;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px #ffffff4f;
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #ffffff;
    color: #000000;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #000;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 15px 15px;
}

#sidebar ul.components {
    padding: 5px 0px;
    margin: 0 5px;
    border-top: 1px solid #ffffff;
}

#sidebar ul li a {
    padding: 7px;
    font-size: 17px;
    display: block;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
}

#sidebar ul li a:hover {
    color: #000;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #171717;
}

/* *********** Yello Hanger ************ */

.search-bar ::placeholder {
    color: #ffffff;
    font-weight: bolder;
}

.has-search {
    width: 50%;
}

.has-search input {
        border-radius: 0;
        padding: 30px 0;
        padding-left: 165px;
        padding-right: 125px;
        font-style: italic;
        margin-bottom: 5px;
    }

    .has-search input:focus {
        background-color: #000000;
        font-size: 20px;
        font-weight: bolder;
        color: #ffffff;
        font-style: italic;
    }

    .has-search .form-control-feedback {
        position: absolute;
    /*    z-index: 2;*/
        display: block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        pointer-events: none;
        color: #ffffff;
        margin-left: 110px;
    }

/* *********** Yello Hanger ************ */

.login-row {
    background-color: #000000;
}

.yellow-hanger {
    background-image: url("images/yellow_hanger.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.yellow-hanger p {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 1.5px;
/*    padding-bottom: 25px;*/
}

.yellow-hanger .btn-row {
    margin: 0 15%;
    padding: 4% 0%;
}

.yellow-hanger button, .yellow-hanger button:hover, .designs .btn, .designs .btn:hover {
    border-radius: 0;
    background-color: #000000;
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
    font-family: none;
}
/* *********** design-of-the-day ************ */

.design-of-the-day-1 {
    background-image: url("images/todays-design.png");
    background-repeat: no-repeat;
/*    background-size: cover;*/
    background-position: center;
    height: 610px;
}

.design-of-the-day-2 {
    background-image: url("images/you-can-design-your-tshirts.png");
    background-repeat: no-repeat;
/*    background-size: cover;*/
    background-position: center;
    height: 610px;
}

/* *********** Referal ************ */

.referal {
    background-image: url("images/referal.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 450px;
    padding-bottom: 15px;
}

/* *********** Multi image caurosel ************ */

.col-2-half {
    width: 16.66%;
}

.carousel-control-prev, .carousel-control-next {
    width: 5%;
    color: #aaa;
}

.bg-black {
    background-color: #000000;
}

/* *********** Featured Tees ************ */

.featured-tees img {
    width: 100%;
}


/* *********** Footer ************ */

.footer ul li, .footer h3, .footer a {
    color: #aaa;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

.top-border {
    border-top: 5px solid #aaa;
}

.footer span {
    font-size: 22px;
}

.footer img {
    vertical-align: bottom;
}

@media only screen and (max-width: 320px) { 
    .has-search input {
        font-size: 9px!important;
    }
    .btn-row .col-12 {
        padding: 0!important;
    }
    .designs .row {
        margin: 0!important;
    }
    .yellow-hanger p {
        font-size: 11px!important;
    }
    .referal {
        height: 115px!important;
    }
    .services h1, .featured-tees h1 {
        font-size: 20px!important;
    }
    .services p {
        font-size: 14px!important;
    }
    .footer a {
        font-size: 14px!important;
    }
    
    .footer span {
        font-size: 16px!important;
    }
}

@media only screen and (min-width: 321px) and (max-width: 375px) {
    .has-search {
        width: 85%!important;
    }
    .has-search input {
        font-size: 12px!important;
    }
    
    .btn-row .col-12 {
        padding: 0!important;
    }
    .designs .row {
        margin: 0!important;
    }
    .designs .design-of-the-day-1, .designs .design-of-the-day-2 {
        height: 165px!important;
        background-size: contain;
    }
    .referal {
        height: 135px!important;
    }
    
    .services h1, .featured-tees h1 {
        font-size: 25px!important;
    }
    .services p {
        font-size: 16px!important;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .navbar {
        padding: 5px;
    }
    .navbar-brand img {
        width: 130px;
    }
    
    
    .has-search {
        width: 80%;
    }

    .has-search input {
        height: 45px;
        font-size: 13px;
        padding: 6px 20px 5px 45px!important;
    }

    .has-search input:focus {
        font-size: 13px;
    }

    .has-search .form-control-feedback {
        font-size: 22px;
        width: 30px;
        height: 45px;
        line-height: 45px;
        margin-left: 15px;
    }
    
    
    .yellow-hanger .btn-row {
        margin: 0 5%;
        padding: 4% 0%;
    }
    
    .yellow-hanger p {
        font-size: 14px;
        margin-bottom: 10px;
    }
    .yellow-hanger button, .yellow-hanger button:hover, .designs .btn, .designs .btn:hover {
        font-size: 13px;
    }
    
    
    .designs .design-of-the-day-1, .designs .design-of-the-day-2 {
        height: 190px;
        background-size: contain;
    }
    
/*
    .design-of-the-day-2 .btn, .design-of-the-day-2 .btn:hover {
        font-size: 10px;
    }
*/
    
    .referals .carousel-inner {
        padding: 0 15px!important;  
    } 
    .referal {
        height: 155px;
    }
    
    .icons_gallery .row {
        padding: 10px 60px!important;
    }
    .carousel-control-prev, .carousel-control-next {
        width: 10%;
    }
    .carousel-control-custom-prev-icon i, .carousel-control-custom-next-icon i {
        font-size: 20px;
    }
    
    /* *********** Featured Tees ************ */

    .featured-tees img {
        width: 80%;
    }
    
    .service p {
        width: 80%;
    }
    
    .services h1, .featured-tees h1 {
        font-size: 30px;
    }
    .services p {
        font-size: 18px;
    }
    
    .service1 img, .service4 img {
        width: 33%;
    }
    
    .service2 img {
        width: 45%!important;
    }
    
    .service3 img {
        width: 30%!important;
    }
    
    .footer a {
        font-size: 17px;
    }
    
    .footer span {
        font-size: 19px;
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px){
    
    .has-search {
        width: 75%;
    }
    
    .has-search input {
        font-size: 15px;
        padding: 20px 110px 15px 135px!important;
    }

    .has-search input:focus {
        font-size: 15px;
    }
    .has-search .form-control-feedback {
        font-size: 22px;
        width: 35px;
        height: 35px;
        line-height: 35px;
        margin-left: 100px;
    }
    .yellow-hanger .btn-row {
        margin: 0 5%;
        padding: 4% 0%;
    }
    
    .yellow-hanger p {
        font-size: 30px;
    }
    .yellow-hanger button, .yellow-hanger button:hover, .designs .btn, .designs .btn:hover {
        font-size: 18px;
    }
    
    .designs row {
        padding: 0 20px;
    }
    
    .designs .design-of-the-day-1, .designs .design-of-the-day-2 {
        height: 370px;
        background-size: contain;
    }
    
    .referals .carousel-inner {
        padding: 0 15px!important;  
    } 
    .referal {
        height: 285px;
    }
    
    .icons_gallery .row {
        padding: 15px 70px!important;
    }
    
    .services h1, .featured-tees h1 {
        font-size: 33px;
    }
    .services p {
        font-size: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .icons_gallery .row {
        padding: 17px 75px!important;
    }
/*
    .services h1, .featured-tees h1 {
        font-size: 30px;
    }
    .services p {
        font-size: 16px;
    }
*/
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
    
    
    .has-search input {
        font-size: 16px;
        padding: 24px 75px 20px 95px!important;
        border-radius: 0;
        font-style: italic;
        margin-bottom: 5px;
    }
    .has-search .form-control-feedback {
        font-size: 25px;
        width: 46px;
        height: 46px;
        line-height: 46px;
        margin-left: 55px;
    }
    
    
    .yellow-hanger .btn-row {
        margin: 0 10%;
        padding: 4% 0%;
    }
    
    .yellow-hanger p {
        font-size: 35px;
    }
    .yellow-hanger button, .yellow-hanger button:hover, .designs .btn, .designs .btn:hover {
        font-size: 20px;
    }
    
    .designs .design-of-the-day-1, .designs .design-of-the-day-2 {
        height: 480px;
        background-size: contain;
    }
    
    .referals .carousel-inner {
        padding: 0 15px!important;  
    } 
    
     .referal {
        height: 375px;
    }
    
    .icons_gallery .row {
        padding: 30px 150px!important;
    }
    
    .service {
        height: 315px;
    }
    
    .services h1, .featured-tees h1 {
        font-size: 30px;
    }
    .services p {
        font-size: 18px;
    }
    
    .footer a {
        font-size: 15px;
    }
    
    .footer span {
        font-size: 18px;
    }
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .has-search input {
        border-radius: 0;
        padding: 30px 0;
        padding-left: 165px;
        padding-right: 125px;
        font-style: italic;
        margin-bottom: 5px;
    }

    .has-search input:focus {
        background-color: #000000;
        font-size: 20px;
        font-weight: bolder;
        color: #ffffff;
        font-style: italic;
    }

    .has-search .form-control-feedback {
        position: absolute;
    /*    z-index: 2;*/
        display: block;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        pointer-events: none;
        color: #ffffff;
        margin-left: 110px;
    }
}